node_modules
dist
.env
*.log

# Terraform
terraform/**/.terraform/
terraform/**/terraform.tfvars
terraform/**/terraform.tfstate
terraform/**/terraform.tfstate.*
terraform/**/.terraform.lock.hcl

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
generated/
